body {
    color: #141414;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    line-height: 1.5;
    margin: 30px 10%;
    background-color: lightblue;
}

section {
    padding: 20px 10%;
    overflow: auto;
    background-color: #FFFAFA;
}

.kontaktMenu {
    padding: 0 10%;
}

.hlavicka {
    padding: 20px 10%;
    overflow: auto;
    /*margin: 30px 10%;*/
    background: snow;
}

#kontakt {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#kdoJsem {
    font-size: 30px;
    font-family: 'Caveat', cursive;
}

.mojeFoto {
    width: 150px;
    border-radius: 15%;
    border: 1px solid #141414;
    float: left;
    margin: 0px 30px 30px 0px;
}

.link {
    color: #141414;
}

.link--h3 {
    color: #00687f;
    text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
    color: lightblue;
}

.menu {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.menu li {
    display: inline-block;
    margin: 0px 2%;
/*    border: 1px solid #00687f;
    padding: 10px;
    margin: 0px 1%;*/
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: #00687f;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 15px;
    border: 1px solid #00687f;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: lightblue;
}

.paticka{
    color: lightblue;
    background-color: cornflowerblue;
    text-align: center;
    padding: 10px;
}

.paticka p {
    margin: 0px;
}

h1 {
    text-align: center;
}

h3,
h4 {
    color: #00687f;
}

h2 {
    background-color: lightblue;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 40px;
}

h3 {
    border-bottom: 2px solid #00687f;
    margin: 20px 0px 0px 0px;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}
h4 {
    margin: 10px 0px;
}
p {
    margin-top: 0px;
}

table {
    border-collapse: collapse;
    border: 2px solid #00687f;
    margin: 10px 0px;
}

th {
    background-color: #e8f4f8;
}

th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid #00687f;
  }
  
tr:hover {
    background-color: #e8f4f8;
}

.nahoru {
    text-align: right;
}

/* https://www.color-hex.com/color/add8e6 */